* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    position: fixed;
}

li a {
    display: block;
    padding: 10px 0;
    color: white;
}

.welcome-section {
    background-color: lightblue;
    height: 100vh;
}

.welcome-heading {
    padding-top: 60%;
    text-align: center;
}

.welcome-sub {
    padding-top: 10%;
    text-align: center;
}

.about {
    background-color: blanchedalmond;
    padding-top: 40%;
    height: 70vh;
}

.about-heading {
    text-align: center;
    padding-bottom: 10%;
}

.about-body {
    text-align: center;
    margin: 0 15%;
    line-height: 1.3em;
}

.projects {
    background-color: darkseagreen;
    padding-top: 40%;
}

.projects-heading {
    text-align: center;
    padding-bottom: 10%;
}
.projects-tiles {
    text-align: center;
}

.card {
    padding: 10% 0;
}

.card-image {
    width: 20%;
}

.card-title {
    padding: 10px;
    color: black;
}

.contact {
    background-color: khaki;
    padding-top: 40%;
    text-align: center;
    height: 70vh;
}

.contact-heading {
    padding-bottom: 10%;
}

.contact-icons a {
    padding: 5%;
    color: black;
}
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    ul {
        display: flex;
        width: 100%;
    }

    li {
        margin: 1em 1.5em;
    }

    .welcome-section {
        height: 100vh;
    }

    .welcome-heading {
        padding-top: 15%;
    }

    .welcome-sub {
        padding-top: 5%;
    }

    .about {
        padding-top: 10%;
        height: 100vh;
    }

    .about-heading {
        padding-bottom: 5%;
    }

    .about-body {
        margin: 0 30%;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .projects {
        padding-top: 10%;
        height: 100vh;
    }
    
    .projects-tiles {
        display: flex;
    }
    
    .card {
        padding: 0;
    }

    .card-image {
        width: 30%;
        height: 150px;
    }

    .contact {
        padding-top: 10%;
        height: 100vh;
    }
    
    .contact-heading {
        padding-bottom: 5%;
    }
    
    .contact-icons a {
        padding: 3%;
    }    
        
  }

