* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    position: fixed;
    height: 10%;
    background-color: #0288D1;
    opacity: 0.75;
}

.nav-link {
    align-self: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 300;
    opacity: .5;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
    opacity: .75;
}

@media screen and (max-width: 640px) {
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
}

main {
    display: flex;
    flex-direction: column;
}

/* Intro */
.welcome-section {
    width:100%;
    height: 100vh;
    text-align: center;
    margin-bottom: 120px;
    font-family: 'Montserrat', sans-serif;
}

.welcome-heading {
    color: white;
    padding-top: 30%;
    font-size: 80px;
    animation-name: fadeInDown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
}

.welcome-sub {
    color: white;
    padding-top: 20px;
    font-size: 30px;
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
}

/* About */
.about {
    min-height: 100vh;
    padding: 0 15px;
    margin: 60px auto;
    /* margin-right: auto;
    margin-left: auto; */
    font-family: 'Lora', serif;
}

.about-heading {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    padding-top: 60px;
    margin-right: 15%;
    margin-left: 15%;
    line-height: 1.5;
}

.fadeInUp {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.fadeInUp p {
    font-size: 1.1em;
    padding-bottom: 15px;
}

.skills {
    margin-left: 10%;
    text-align: left;
}

.skills li {
    list-style: none;
    padding-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .about .row {
        flex-direction: column;
        margin: 0;
    }

    .fadeInUp {
        padding: 2px;
    }

    .skills {
        margin: 0;
        text-align: center;
    }
}

/* Projects */
.projects {
    padding: 70px 15px;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    background-color: #B3E5FC;
}

.projects-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.projects-tiles {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    padding-bottom: 20px;
    border: 2px solid #757575;
    max-width: 450px;
    margin: 10px auto;
    box-shadow: 5px 5px #BDBDBD;
}

.card a {
    text-decoration: none;
    color: #FFFFFF;
}

.card-image {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}

.contact {
    max-width: 960px;
    height: 80vh;
    margin: 60px auto;
    padding-top: 100px;
    text-align: center;
    color: #757575;
}

.contact a {
    text-decoration: none;
    color: #8BC34A;
    /* opacity: .75; */
    text-shadow: 3px 3px #BDBDBD;
}

.contact a:hover {
    opacity: .75;
}

.contact-heading {
    font-size: 40px;
    padding-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.contact-icons i {
    padding: 20px;
}